p {
    font-family: Outfit;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    margin: 0;
    padding-top: 79px;
    padding-left: 95px;
    padding-right: 24px;
    background-color: rgb(249, 249, 249);
}