.header {
    height:55px;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* to get the background color back , we'll use the 
    background color property again */
    background-color: white;

    border-bottom-width: 1px; /*npil */
    border-bottom-style: solid; /*npil */
    border-bottom-color: rgb(228,228,228); 
    z-index: 100;
}

.left-section {
justify-content: start;
display: flex; /* this is called nested flexbox , and whenever you wanted to use align items , set flexbox first */
align-items: center;



}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-left: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.middle-section {
    flex:1;
    display: flex;
    margin-left: 65px;
    margin-right: 30px;
    max-width: 500px; /* limiting the width while testing responnsive ness */
    justify-content: center;
    align-items: center;

}

.search-button {
    height: 40px;
    width: 66px;
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(213, 213, 213);
    border-style: solid;
    background-color: rgb(245, 245, 245);
    border-width: 1px;
    border-style: solid;
    margin-left:-1px;
    margin-right: 10px;
    position: relative;


}

.search-button,.voice-search,.upload-container, .yt-apps, .notif-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Outfit;
}

.search-button .tooltip, .voice-search .tooltip, .upload-container .tooltip, .yt-apps .tooltip, .notif-icon .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px ;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none; /*npil : disable hovering on tooltip */
    white-space: nowrap;   /*npil : only Collapses multiple spaces into a single space. */
}

.search-button:hover .tooltip, .voice-search:hover .tooltip, .upload-container:hover .tooltip, .yt-apps:hover .tooltip, .notif-icon:hover .tooltip{
    opacity: 1;
}



.search-box {
    flex:1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 222, 222);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;


}

.search-icon {
    height: 25px;

}

.search-box::placeholder {  /*npil : that's how we target a pseudoclass which is placeholder in our case */
    font-family: Outfit;
    font-size: 16px;
}

.voice-search {
    margin-left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 300px;
    cursor: pointer;
    border: none;
    background-color: rgb(245, 245, 245);
    position: relative;
}


.voice-icon {
    height:24px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:20px;
    flex-shrink: 0; /*npil : this is used to stop , the ui from shrinking */
}

.upload-icon {
    height: 25px;
    cursor: pointer;
}

.youtube-apps-icon {
    height:25px;
    cursor: pointer;
}

.notifications-icon {
    height: 25px;
    cursor: pointer;
}

.notif-icon {
    position: relative;
}

.notif-count {
    position: absolute;
    top: -1px;
    right: -4px;
    background-color: rgb(204, 0, 0);
    color: white;
    font-family: Outfit;
    border-radius: 200px;
    font-size: 10.5px;
    padding-left: 5.5px;
    padding-right: 5.5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.avatar-icon {
    height: 28px;
    border-radius: 20px;
    cursor: pointer;
}

/* block element = takes the entire line in container */


